<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leak.sdk.leaklibrary">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <service
            android:name=".heap.AnalyzerServers"
            android:process=":gurad"
            android:enabled="false" />
        <activity android:name=".activity.HeapMainActivity" />
        <activity
            android:name=".activity.HeapActivity"
            android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
